@page "/Educations"

@for (var i = 0; i < resume.Educations.Count; i++)
{
    <div class="card">
        <div class="ml-2">
            <div class="primary-text-color">
                @resume.Educations[i].Degree
            </div>
        </div>
    </div>
}
